{% extends 'tempSensors/layout.html' %}

{% block title %}Temperature{% endblock %}

{% block content %}
<div class="container">
    <ol>
        <h3 class="display-3 "><center>Temperature Sensors</center></h3></th>
        <table id="productSizes" class="table table-striped">
        <tr>
            
        </tr>
            {% for sensor in sensors %}
                <tr class="alert alert-dark">
                    <td><center><a class="text-decoration-none link-dark" style="font-size: 20px" href="/sensors/{{ sensor.id }}">{{ sensor.location }} - {{ sensor.temperature }}°</center></a></td>
                </tr>
            {% endfor %}
        </table>
    </ol>
</div>
{% endblock %}

