{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'tempSensors/css/main.css' %}">
    

    </head>
    <body style="background-color:white;">
        
        <aside>
        
            <ul>
                <a href="http://localhost:8000/accounts/login" class="btn btn-dark fa-solid fa-right-to-bracket">Login</a>
            </ul>


        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>